$color_principal: #192537;
$color_secundario: #b09e80;
$fuente_principal: "Josefin Sans", sans-serif;

$formato: (
  alineacion: center,
  letra: uppercase,
);

@mixin flex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $color_principal;
  display: grid;
  grid-template-areas:
    "navegador"
    "header"
    "cajaNosotros"
    "cajaProductosPortada"
    "cajaMarcas"
    "footer";
}

body .navegador {
  grid-area: navegador;
}
body .header {
  grid-area: header;
}
body .cajaNosotros {
  grid-area: cajaNosotros;
}

body .cajaProductosPortada {
  grid-area: cajaProductosPortada;
}
body .cajaMarcas {
  grid-area: cajaMarcas;
}
body .footer {
  grid-area: footer;
}

@import "navegador";

.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: calc(100vh - 160px);
  background-image: url(../Imagenes/foto-home.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: $color_principal;
  position: absolute;
  opacity: 0.5;
}

.frase__principal__portada {
  color: white;
  margin: 10px;
  font-family: $fuente_principal;
  text-transform: map-get($formato, letra);
  font-size: 50px;
  z-index: 1;
}

.frase__secundaria__portada {
  color: black;
  margin: 10px;
  font-family: $fuente_principal;
  font-size: 25px;
  font-weight: 300;
  z-index: 1;
  padding: 10px;
  background-color: #fff;
}

.botonCarrito {
  font-size: 35px;
  background: none;
  color: #fff;
  border: none;
  z-index: 5;
  border-radius: 40px;
  padding: 15px;
  opacity: 0.8;
  transition: 0.3s;
}
.botonCarrito:hover {
  background-color: $color_principal;
  font-size: 40px;
  border: 1px solid #fff;
}

.cajaNosotros {
  @include flex;
  background-color: $color_principal;
  width: 100%;
  height: 300px;
}

.titulo__cajaNosotros {
  font-family: $fuente_principal;
  text-transform: uppercase;
  font-size: 70px;
  color: $color_secundario;
  margin-top: 80px;
  margin-bottom: 10px;
}

.parrafo__cajaNosotros {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: white;
  text-align: justify;
  font-weight: 300;
  margin-left: 245px;
  margin-right: 245px;
}

.cajaProductosPortada {
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-flow: row;
  div {
    width: 350px;
    height: 450px;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: map-get($formato, alineacion);
    align-items: flex-start;
    h4 {
      color: $color_secundario;
      font-family: $fuente_principal;
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
      opacity: 0;
      padding-top: 30px;
      text-align: center;
    }
  }
}

#belleza {
  background-image: url(../imagenes/gifBelleza.gif);
  background-size: cover;
}

#coloracion {
  background-image: url(../imagenes/gifColoracion.gif);
  background-size: cover;
}

#cuidado {
  background-image: url(../imagenes/gifCuidadoPersonal.gif);
  background-size: cover;
}

.cajaProductosPortada div:hover h4 {
  opacity: 1;
  transition-duration: 1s;
}

.cajaProductosPortada div:hover {
  border: 2px inset $color_secundario;
}

.cajaMarcas {
  width: 100%;
  height: 300px;
  @include flex;
  position: relative;
  h4 {
    color: #fff;
    font-family: $fuente_principal;
    font-size: 40px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    li {
      color: $color_principal;
      font-size: 20px;
      margin: 10px;
      font-family: "Roboto", sans-serif;
      z-index: 10;
    }
  }
}

.resaltadorMarcas {
  background-color: $color_secundario;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 5;
  animation-name: resaltaAnimacion;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes resaltaAnimacion {
  0% {
    top: 165px;
    bottom: 120px;
    left: 350px;
  }
  50% {
    top: 165px;
    bottom: 120px;
    left: 890px;
  }
  100% {
    top: 165px;
    bottom: 120px;
    left: 350px;
  }
}
@import "footer";

#bodyColoracion {
  margin: 0;
  display: grid;
  grid-template-areas:
    "navegador navegador navegador"
    "tituloColoracion tituloColoracion tituloColoracion"
    "tintura1 tintura2 tintura3"
    "tintura4 tintura5 tintura6"
    "videoTinturas videoTinturas videoTinturas"
    "footer footer footer";
}

#bodyColoracion .navegador {
  grid-area: navegador;
}

#bodyColoracion .tituloColoracion {
  grid-area: tituloColoracion;
}

#bodyColoracion .tintura1 {
  grid-area: tintura1;
}
#bodyColoracion .tintura2 {
  grid-area: tintura2;
}
#bodyColoracion .tintura3 {
  grid-area: tintura3;
}
#bodyColoracion .tintura4 {
  grid-area: tintura4;
}
#bodyColoracion .tintura5 {
  grid-area: tintura5;
}
#bodyColoracion .tintura6 {
  grid-area: tintura6;
}
#bodyColoracion .videoTinturas {
  grid-area: videoTinturas;
}
#bodyColoracion .footer {
  grid-area: footer;
}

.tarjetaTintura {
  width: 350px;
  height: 320px;
  margin: 30px;
  position: relative;
  div {
    backface-visibility: hidden;
    transition: 1s;
  }
}

.front {
  border-radius: 20px;
  background-color: #fff;
  transform: perspective(500px) rotateY(0deg);
  width: 100%;
  height: 100%;
  position: absolute;
  @include flex;
}

.reverso {
  border-radius: 20px;
  background-image: url(../imagenes/pelo.jpg);
  background-size: cover;
  transform: perspective(500px) rotateY(180deg);
  width: 100%;
  height: 100%;
  position: absolute;
  @include flex;
  border: 5px solid #fff;
}

.tarjetaTintura:hover .front {
  transform: perspective(500px) rotateY(180deg);
}

.tarjetaTintura:hover .reverso {
  transform: perspective(500px) rotateY(360deg);
}

.tintura1,
.tintura4 {
  justify-self: end;
}
.tintura3,
.tintura6 {
  justify-self: start;
}
.tintura2,
.tintura5 {
  justify-self: center;
}

.fotoTintura {
  border-radius: 20px;
  width: 350px;
  padding: 0px 10px 5px 10px;
}

.precioTintura {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  padding: 10px;
  font-size: 30px;
  border-radius: 20px;
  z-index: 10;
  color: $color_principal;
}

.nombreTintura {
  font-family: $fuente_principal;
  color: $color_principal;
  font-size: 30px;
  margin-top: 20px;
  text-transform: uppercase;
}

.tituloColoracion {
  background-color: $color_secundario;
  height: 168px;
  width: 800px;
  border-radius: 0px 0px 180px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 80px;
  animation-name: cartaDesplegable;
  animation-duration: 0.6s;
  animation-iteration-count: initial;
  h1 {
    font-family: $fuente_principal;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 50px;
    font-weight: 300;
    text-align: center;
    color: $color_principal;
  }
}

@keyframes cartaDesplegable {
  0% {
    opacity: 0.1;
    transform: scale(50%);
  }
  50% {
    opacity: 0.4;
    transform: scale(120%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

.reverso:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: $color_principal;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
  border-radius: 20px;
}

.carta {
  width: 400px;
}

.videoTinturas {
  @include flex;
  height: 400px;
  margin-bottom: 50px;
  h3 {
    font-family: $fuente_principal;
    text-transform: uppercase;
    font-size: 60px;
    padding-top: 50px;
    font-weight: 300;
    color: $color_secundario;
  }
}

#iframe {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
  width: 700px;
  height: 300px;
  margin-top: 20px;
}

#bodyOfertas {
  margin: 0;
  display: grid;
  grid-template-areas:
    " navegador             navegador        navegador"
    " combo1               tituloOfertas    ofertaGel"
    " combo1               tituloOfertas    combo2 "
    " ofertaTeatrical      ofertaColbert    combo2"
    " footer                footer           footer";
}

#bodyOfertas .navegador {
  grid-area: navegador;
  margin-bottom: 60px;
}

#bodyOfertas .combo1 {
  grid-area: combo1;
}

#bodyOfertas .tituloOfertas {
  grid-area: tituloOfertas;
}
#bodyOfertas .ofertaGel {
  grid-area: ofertaGel;
}
#bodyOfertas .combo2 {
  grid-area: combo2;
}
#bodyOfertas .ofertaTeatrical {
  grid-area: ofertaTeatrical;
}
#bodyOfertas .ofertaColbert {
  grid-area: ofertaColbert;
}

#bodyOfertas .footer {
  grid-area: footer;
}

.tituloOfertas {
  height: 580px;
  width: 400px;
  margin-top: 60px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

#letrasOfertas2 {
  font-size: 200px;
  color: #b09e80;
  font-family: $fuente_principal;
  text-align: center;
  text-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
  position: absolute;
}
#letrasOfertas1 {
  font-size: 220px;
  color: $color_principal;
  font-family: $fuente_principal;
  line-height: 200px;
  text-align: center;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  text-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
  position: absolute;
  animation-name: ofertasEfecto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes ofertasEfecto {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}

.tarjetaCombo {
  width: 350px;
  height: 590px;
  margin: 30px;
  position: relative;
  div {
    backface-visibility: hidden;
    transition: 1s;
  }
}

.fotoCombo {
  border-radius: 20px;
  width: 350px;
  height: 500px;
  padding: 0px 10px 5px 10px;
}

.tarjetaCombo:hover .front {
  transform: perspective(500px) rotateY(180deg);
}

.tarjetaCombo:hover .reverso {
  transform: perspective(5000px) rotateY(360deg);
}

.combo1,
.ofertaTeatrical {
  margin-left: 80px;
}

.combo2,
.gelPatriot {
  margin-right: 80px;
}

#bodyAway {
  margin: 0;
  display: grid;
  grid-template-areas:
    "navegador"
    "header-away"
    "cajaMapa"
    "footer";
}

#bodyAway .navegador {
  grid-area: navegador;
}

#bodyAway .header-away {
  grid-area: header-away;
}

#bodyAway .cajaMapa {
  grid-area: cajaMapa;
}

#bodyAway .footer {
  grid-area: footer;
}
.header-away {
  @extend .header;
  background-image: url(../imagenes/takeAway.JPG);
  background-position: initial;
}
.header-away:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: $color_principal;
  position: absolute;
  opacity: 0.5;
}
.botonAuto {
  font-size: 40px;
  color: $color_secundario;
  background: none;
  border: none;
  z-index: 15;
  position: absolute;
  margin-bottom: 110px;
  margin-right: 550px;
  animation-name: autito;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

@keyframes autito {
  0% {
    margin-right: 1300px;
  }
  100% {
    margin-left: 2000px;
  }
}

.cajaMapa {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  height: 300px;
  width: 100%;
}
.mapa {
  width: 100%;
  height: 300px;
  opacity: 0.7;
  text-shadow: 0px 20px 30px rgba(0, 0, 0, 1);
  position: relative;
}

.link_wasap{
  position: absolute;
  margin-left: 800px;
  margin-top: 90px;
}

.wasap {
  width: 60px;
}

.tituloMapa {
  position: absolute;
  font-size: 30px;
  background-color: #4cca5b;
  color: #fff;
  font-family: $fuente_principal;
  margin-left: 600px;
  margin-top: 160px;
  padding: 5px;
  padding-right: 20px;
  text-shadow: 0px 20px 30px rgba(0, 0, 0, 1);
}

.form-check {
  margin: 10px;
}
.needs-validation {
  height: calc(100vh - 160px);
  margin-bottom: 40px;
  font-family: $fuente_principal;
  text-transform: uppercase;
  justify-content: center;
}

.fondoContactos {
  background-image: url(../imagenes/gif-contactos.gif);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  h1 {
    text-shadow: 0px 20px 30px rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 30px;
    font-family: $fuente_principal;
    text-align: center;
  }
}
#letras_copyright{
  font-family:$fuente_principal;
    color: white;
    font-size: 15px;
}

@import "tablet";

@import "mobileLarge";

@import "mobile";